body{
	overflow-x: hidden;
}

#centered1{
	position: absolute;
	font-size: 10vw;
	top: 30%;
	left: 30%;
	transform: translate(-50%,-50%);
}

#centered2{
	position: absolute;
	font-size: 10vw;
	top: 50%;
	left: 40%;
	transform: translate(-50%,-50%);
}

#centered3{
	position: absolute;
	font-size: 10vw;
	top: 70%;
	left: 30%;
	transform: translate(-50%,-50%);
}

#signup{
	width: 60%;
	border-radius: 30px;
}
#login{
	width: 60%;
	background-color: #fff;
	color: #1da1f2;
	border: 1px solid #1da1f2;
	border-radius: 30px;
}
#login:hover{
	width: 60%;
	background-color: #fff;
	color: #1da1f2;
	border: 2px solid #1da1f2;
	border-radius: 30px;
}
.well{
	background-color: #187FAB;
}

.main-content{
	width: 50%;
	height: 40%;
	margin: 10px auto;
	background-color: #fff;
	border: 2px solid #e6e6e6;
	padding: 40px 50px;
}
.header{
	border: 0px solid #000;
	margin-bottom: 5px;
}
#signin{
	width: 60%;
	border-radius: 30px;
}
.overlap-text{
	position: relative;
}
.overlap-text a{
	position: absolute;
	top: 8px;
	right: 10px;
	font-size: 14px;
	text-decoration: none;
	font-family: 'Overpass Mono', monospace;
	letter-spacing: -1px;

}
